<div style="background-color: #F7F7F7 ;">
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('elysee.jpg') %>'); background-position: center;  height: 36vh;">
    <div class="landing-banner-content" style="margin-top: 6em;">
          <h1 class="home-title">Ton candidat est </h1>
    </div>
  </div>

<% @opinions %>

        <%  l = 0 %>
        <%  m = 0 %>
        <%  j = 0 %>
        <%  f = 0 %>
        <%  h = 0 %>
        <%  c = 0 %>
        <%  e = 0 %>
        <%  n = 0 %>
        <%  i = 0 %>
        <%  p = 0 %>
        <%  a = 0 %>

<%
  hash = {
          "Marine Le Pen" => l,
          "Emmanuel Macron" => m,
          "Jean Luc Mélenchon" => j,
          "François Fillon" => f,
          "Jacques Cheminade" => c,
          "Jean Lassalle" => e,
          "Nathalie Arthaud" => n,
          "Nicolas Dupont-Aignan" => i,
          "Philippe Poutou" => p,
          "Benoit Hamon" => h,
          "François Asselineau" => a,
  }
 %>

  <% array = @opinions.select { |opinion| opinion.user_id == current_user.id} %>

        <% array.each do |opinion| %>
        <% if opinion.card.candidate == "Marine Le Pen" %>
             <% hash["Marine Le Pen"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Emmanuel Macron" %>
             <% hash["Emmanuel Macron"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Jean Luc Mélenchon" %>
             <% hash["Jean Luc Mélenchon"] += opinion.rate %>
        <% elsif opinion.card.candidate == "François Fillon" %>
             <% hash["François Fillon"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Benoit Hamon" %>
             <% hash["Benoit Hamon"] += opinion.rate %>
        <% elsif opinion.card.candidate == "François Asselineau" %>
             <% hash["François Asselineau"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Philippe Poutou" %>
             <% hash["Philippe Poutou"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Nicolas Dpt-Aignan" %>
             <% hash["Nicolas Dupont-Aignan"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Jean Lassalle" %>
             <% hash["Jean Lassalle"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Jacques Cheminade" %>
             <% hash["Jacques Cheminade"] += opinion.rate %>
        <% elsif opinion.card.candidate == "Nathalie Arthaud" %>
             <% hash["Nathalie Arthaud"] += opinion.rate %>
        <% end %>
        <% end %>


        <% results = hash.sort_by { |candidate, vote| vote } %>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">1er</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[10][0] + ".jpg" ) %>" style="height: 20em ; width: 20em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[10][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-1">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[10][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[10][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[10][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[10][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[10][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; " id="modal_1">
  <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">2e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em;">
      <div class="flex-item">
        <img class="avatar" src="<%= image_path( results[9][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>
      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[9][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg-2" style="margin-right: 7em; margin-top: 2em;">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[9][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[9][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[9][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[9][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[9][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; " id="modal_1">
<div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">3e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em;">
      <div class="flex-item">
        <img class="avatar" src="<%= image_path( results[8][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>
      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[8][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg-3" style="margin-right: 7em; margin-top: 2em;">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[8][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[8][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <<% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[8][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[8][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[8][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; " id="modal_1">
<div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">4e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em;">
      <div class="flex-item">
        <img class="avatar" src="<%= image_path( results[7][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>
      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[7][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg-4" style="margin-right: 7em; margin-top: 2em;">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[7][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[7][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[7][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[7][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[7][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; " id="modal_1">
    <div style="margin-right: 1em;">
      <h1 style="font-weight: 500; margin-left: -73px;">5e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em;">
      <div class="flex-item">
        <img class="avatar" src="<%= image_path( results[6][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>
      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[6][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg-5" style="margin-right: 7em; margin-top: 2em;">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[6][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[6][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[6][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[6][0]  && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[6][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em; ">
    <h1 style="font-weight: 500; margin-left: -73px;">6e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[5][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[5][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-6">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[5][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[5][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[5][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[5][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[5][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">7e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[4][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[4][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-7">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[4][0] } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[4][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[4][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[4][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[4][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">8e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[3][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[3][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-8">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[3][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[3][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[3][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[3][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[3][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">9e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[2][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[2][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-9">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[2][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[2][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[2][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[2][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[2][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">10e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[1][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[1][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-10">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-10" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[1][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[1][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[1][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[1][0] } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[1][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-11  col-xs-offset-1" style="background-color: white; border-top-left-radius: 350px; border-bottom-left-radius: 350px; margin-top: 3em; margin-right: 2em;   " id="modal_1">
    <div style="margin-right: 1em;">
    <h1 style="font-weight: 500; margin-left: -73px;">11e</h1>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -5em; ">

      <div class="flex-item">

        <img class="avatar" src="<%= image_path( results[0][0] + ".jpg" ) %>" style="height: 15em ; width: 15em ;" >
      </div>

      <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-around;">
        <div class="flex-item" style="margin-left: 9em;">
          <h1 style="width: 12em; font-size: 51px;"><%= results[0][0] %></h1>
        </div>
        <!-- Large modal -->

        <button type="button" class="activity-btn activity-btn-medium activity-btn-lg text" data-toggle="modal" style="margin-right: 7em; margin-top: 2em;" data-target=".bs-example-modal-lg-11">En savoir +</button>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-lg-11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +2 && opinion.card.candidate ==  results[0][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions favorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == +1  && opinion.card.candidate ==  results[0][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions neutres</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == 0  && opinion.card.candidate ==  results[0][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -1 && opinion.card.candidate ==  results[0][0] && opinion.user_id == current_user.id } %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-9 text-center" style="padding-left: 5vh;">
              <h1>Opinions très défavorables</h1>
              <br>
              <% array = @opinions.select { |opinion| opinion.rate == -2  && opinion.card.candidate ==  results[0][0] && opinion.user_id == current_user.id} %>
              <% array.each do |opinion| %>
              <% content = opinion.card.description.split('.') %>
              <div style="text-align: left;">
                <ul>
                  <% content.each do |mesure| %>
                  <li style="margin-top:10px;"> <%= mesure + "." %>  </li>
                  <% end %>
                </ul>
              </div>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="text-center" style="margin: 5em;">
  <%= link_to 'CONTINUER A VOTER', new_card_opinion_path(card_id: rand(6..10)), class: "activity-btn activity-btn-medium activity-btn-lg", style: "border-radius : 2px; background-color: #57D1C9;" %>
</div>

