<!DOCTYPE html>
<html>
  <head>

    <!-- Google result text-->
    <title>lol</title>
    <!-- Google result description-->
    <meta name="description" content="Le test complet pour découvrir rapidement les programmes des candidats et déterminer celui qui est fait pour vous.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Mon Politique" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="elysee.jpg" />
    <meta property="og:description" content="Le test complet pour découvrir rapidement les programmes des candidats et déterminer celui qui est fait pour vous." />
    <meta property="og:site_name" content="Mon Politique" />


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80949517-3', 'auto');
  ga('send', 'pageview');

</script>
