<!DOCTYPE html>
<html>
  <head>
<title>Mon Politique</title>
    <meta name="description" content="1 élection, 11 programmes">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Mon Politique" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_path( "elysee.jpg" ) %>" />
    <meta property="og:description" content="1 élection, 11 programmes" />
    <meta property="og:site_name" content="Mon Politique" />


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
